@{
    ViewData["Title"] = "SuccesfullyRegistered";
}
<div class="text-center">
    <h1>Succesfully Registered</h1>
</div>
<div class="text-center">
    <h1 class="display-4">Welcome To EtkinLink</h1>
    <p>@Html.ActionLink("Log-in", "UserLogin","MemberShip")</p>
</div>


