@model DeleteMessageViewModel
@{
    
    Layout = "~/Views/Shared/_Layout1.cshtml";
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Delete Message</title>
</head>
<body>
    <div class="sarmal">
        <div class="panel panel-default">
            <div class="panel-heading">Admin Log-in </div>
            <div class="panel-body">
                
                @using (Html.BeginForm("ActivityDelete", "Admin",FormMethod.Post))
                {
                    <div class="form-group">
                        <input name="Message" type ="text" class="form-control" />
                    </div>
                     <div class="form-group">
                        <input name="ActivityId" type ="text" class="form-control" value="@Model.ActivityId" />
                    </div>
                    <input type="submit" class="btn btn-primary" value ="Add Message">
                }
            </div>
        </div>
    </div>
     
</body>
</html>
